body {
    margin: 0 auto;
}

.montserrat_light {
    font-family: "Montserrat";
    font-weight: 300;
}
.montserrat_regular {
    font-family: "Montserrat";
    font-weight: 400;
}
.montserrat_medium {
    font-family: "Montserrat";
    font-weight: 500;
}
.montserrat_bold {
    font-family: "Montserrat";
    font-weight: 700;
}
.imagenPerfil img {
    max-width: 100%;
    border-radius: 50%;
}
.texto_bienvenida {
    min-height: 400px;
    background-image: url(../img/img_fondo_bievenida.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}
.texto_bienvenida h3 {
    font-size: 1.6rem;
}

.navbar-brand {
    font-size: 2rem !important;
}