body {
    margin: 0 auto;
}

.montserrat_light {
    font-family: "Montserrat";
    font-weight: 300;
}
.montserrat_regular {
    font-family: "Montserrat";
    font-weight: 400;
}
.montserrat_medium {
    font-family: "Montserrat";
    font-weight: 500;
}
.montserrat_bold {
    font-family: "Montserrat";
    font-weight: 700;
}
.imagenPerfil img {
    max-width: 100%;
    border-radius: 50%;
}